{% load generic_filters %}
<div style="display:none">
<div id="flag-dialog" title="Flag this post">
    <form id="flag-dialog-form" method="POST" action="{% url moderation_report %}" style="width: 400px">
        <input type="hidden" id="flag-dialog-asset-id" name="asset-id" value="" />
        <fieldset>
            <p>Please select a category that most closely reflects your
            concern about this post.</p>
            <ul>
                <select name="reason">
                    <option value="">Select one...</option>
                    {% for option in settings.report_options %}
                    {% if not option.0|regex_search:"^-" %}
                    {% if request.user.is_superuser %}
                    <option value="{{ forloop.counter0 }}">{{ option.0 }}</option>
                    {% else %}
                    {% if not option.0|regex_search:"^Admin" %}
                    <option value="{{ forloop.counter0 }}">{{ option.0 }}</option>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </select>
            </ul>
        </fieldset>
        <fieldset>
            <label for="flag-dialog-note">Note for moderator:</label>
            <input id="flag-dialog-note" name="note" type="text" maxlength="140" />
        </fieldset>
        <p>Our moderator will review your request and determine if it
        violates any of our guidelines or is inappropriate. Abusing this
        feature may results in your account being permanently banned from this
        site.</p>
    </form>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#flag-dialog").dialog({
            modal: true,
            autoOpen: false,
            resizable: false,
            width: 420,
            height: 220,
            buttons: {
                "Flag": function() { $("#flag-dialog-form").submit(); },
                "Cancel": function() { $(this).dialog("close"); }
            }
        });
    });
    function flagasset(xid) {
        $("#flag-dialog-asset-id").val(xid);
        $("#flag-dialog").dialog('open');
    }
</script>
