{% load generic_filters %}
{% load i18n %}

{% if moderation and request.user.is_authenticated %}
<div style="display:none">
<div id="flag-dialog" title="Flag this post">
    <form id="flag-dialog-form" method="POST" action="{% url moderation_report %}">
        <input type="hidden" id="flag-dialog-asset-id" name="asset-id" value="" />
        <input type="hidden" name="return_to" value="{{ request.path }}" />

        <p>{% blocktrans %}
        Please select a category that most closely reflects your
        concern about this post.
        {% endblocktrans %}</p>

        <fieldset>
            <label for="flag-dialog-reason">{% trans "Reason" %}</label>
            <ul style="display: inline">
                <select id="flag-dialog-reason" name="reason">
                    <option value="">{% trans "Select one..." %}</option>
                    {% for option in settings.report_options %}
                    {% if not option.0|regex_search:"^-" %}
                    {% if request.user.is_superuser %}
                    <option value="{{ forloop.counter0 }}">{{ option.0 }}</option>
                    {% else %}
                    {% if not option.0|regex_search:"^Admin" %}
                    <option value="{{ forloop.counter0 }}">{{ option.0 }}</option>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </select>
            </ul>
        </fieldset>
        <fieldset>
            <label for="flag-dialog-note">{% trans "Note for moderator" %}</label>
            <input id="flag-dialog-note" name="note" type="text" maxlength="140" />
        </fieldset>

        <p><em>{% blocktrans %}
        Our moderator will review your request and determine if it
        violates any of our guidelines or is inappropriate. Abusing this
        feature may result in your account being permanently banned from this
        site.
        {% endblocktrans %}</em></p>
    </form>
</div>
</div>

<style type="text/css">
    #flag-dialog label {
        width: 100px;
        display: block;
        float: left;
        text-align: right;
        margin-right: 10px;
    }
    #flag-dialog-reason, #flag-dialog-note {
        width: 250px;
        clear: both;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $("#flag-dialog").dialog({
            modal: true,
            autoOpen: false,
            resizable: false,
            width: 450,
            height: 250,
            buttons: {
                "Flag": function() { $("#flag-dialog-form").submit(); },
                "Cancel": function() { $(this).dialog("close"); }
            }
        });
        $('#flag-dialog-form').ajaxForm({
            beforeSubmit: function() {
                $("#flag-dialog").dialog('close');
                var xid = $("#flag-dialog-asset-id").val();
                var btn = $("#flag-" + xid + " button");
                btn.hide().next().show();
            },
            success: function(responseText, statusText) {
                if (responseText == "OK") {
                    var xid = $("#flag-dialog-asset-id").val();
                    $("#flag-" + xid + " button").addClass("flagged");
                } else {
                    alert(responseText);
                }
                var btn = $("#flag-" + xid + " button");
                btn.show().next().hide();
            }
        });
    });
    function flagasset(xid) {
        if ($("#flag-" + xid + " button").hasClass("flagged"))
            return;
        // reset form
        $(':input','#flag-dialog-form').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
        $("#flag-dialog-asset-id").val(xid);
        $("#flag-dialog").dialog('open');
    }
</script>
{% endif %}
