{% load i18n %}
{% if not entry.moderation_approved %}
<form id="flag-{{ entry.url_id }}" method="POST" action="{{ asset.get_absolute_url }}">
    <img src="{{ settings.media_url }}themes/motion/images/icons/throbber.gif" alt="" style="display:none;" /><button class="button-flag {% if entry.moderation_flagged %}flagged{% endif %}"
        onclick="{% if not entry.moderation_flagged %}flagasset('{{ entry.url_id }}'); {% endif %}return false;"
        title="{% trans "Flag this content for review" %}">{% trans "Flag" %}
    </button>
</form>
{% endif %}
