{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:at="http://www.sixapart.com/ns/at" id="sixapart-standard">
<head>
    <title>{% block title %}{% trans "Moderation" %} for {{ request.group.display_name }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ settings.media_url }}typepadapp/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/moderation{{ settings.media_url }}css/moderation.css" />
</head>

<body>
    <div id="header">
        <div class="nav-links">
            <a href="{% url home %}">{% trans "Return to" %} {{ request.group.display_name }}</a>
            <a href="{% url logout %}">{% trans "Sign out" %}</a>
        </div>
        <h1><a href="{% url dashboard %}">{% trans "Moderation for" %} {{ request.group.display_name }}</a></h1>
    </div>
    <div id="container">
        <div id="container-inner">
            {% include "motion/bits/flash.html" %}
            <div id="content">
                <div class="content-nav col">
                    {% url dashboard as dashboard_url %}
                    {% url pending as pending_url %}
                    {% url flagged as flagged_url %}
                    <ul>
                        <li {% ifequal request.path dashboard_url %}class="selected"{% endifequal %}><a href="{% url dashboard %}">{% trans "Dashboard" %}</a></li>
                        <li {% ifequal request.path pending_url %}class="selected"{% endifequal %}><a href="{% url pending %}">{% trans "Awaiting Moderation" %}</a></li>
                        <li {% ifequal request.path flagged_url %}class="selected"{% endifequal %}><a href="{% url flagged %}">{% trans "Flagged Posts" %}</a></li>
                    </ul>
                </div>
                <div class="content-main col">
                {% block content-main %}{% endblock %}
                </div>
            </div><!-- end #content -->

        </div><!-- end #container-inner -->
    </div><!-- end #container -->

</body>
</html>
