{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:at="http://www.sixapart.com/ns/at" id="sixapart-standard">
<head>
    <title>{% block title %}{% trans "Moderation" %} for {{ request.group.display_name }}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/moderation{{ settings.media_url }}css/moderation.css" />

    <script type="text/javascript" src="{{ settings.media_url }}typepadapp/js/jquery.js"></script>
    <script type="text/javascript" src="{{ settings.media_url }}typepadapp/js/jquery-ui-1.6.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ settings.media_url }}typepadapp/css/smoothness/ui.all.css" />

    <script type="text/javascript" src="/moderation{{ settings.media_url }}js/moderation.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        settings.moderate_url = '{% url moderate %}';

        $(document).ready(function() {
            $("#view-dialog").dialog({
                modal: true,
                autoOpen: false,
                resizable: false,
                width: 600,
                height: 400,
                buttons: {
                    "Close": function() { $(this).dialog("close"); }
                }
            });
        });
        /* ]]> */
    </script>

    <!-- Audio Player for audio files -->
    <link rel="stylesheet" type="text/css" href="{{ settings.media_url }}typepadapp/soundmanager/bacon-player.css" />
    <script type="text/javascript" src="{{ settings.media_url }}typepadapp/soundmanager/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="{{ settings.media_url }}typepadapp/soundmanager/bacon-player.js"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
    soundManager.url = '{{ settings.media_url }}typepadapp/soundmanager/';
    /* ]]> */
    </script>
</head>

<body class="{{ view }}">
    <div id="header">
        <div class="nav-links">
            <a href="{% url home %}">{% trans "Return to" %} {{ request.group.display_name }}</a>
            <a href="{% url logout %}">{% trans "Sign out" %}</a>
        </div>
        <h1><a href="{% url moderation_home %}">{% trans "Moderation for" %} {{ request.group.display_name }}</a></h1>
    </div>
    <div id="container">
        <div id="container-inner">
            <div id="flash-notice" class="flash notice" onclick="$(this).fadeOut();" style="display: none;"></div>
            <div id="content">
                <div class="content-nav col">
                    {% url moderation_home as dashboard_url %}
                    {% url moderation_pending as pending_url %}
                    {% url moderation_flagged as flagged_url %}
                    <ul>
                        <li {% ifequal request.path dashboard_url %}class="selected"{% endifequal %}><a href="{{ dashboard_url }}">{% trans "Dashboard" %}</a></li>
                        <li {% ifequal request.path pending_url %}class="selected"{% endifequal %}><a href="{{ pending_url }}">{% trans "Awaiting Moderation" %}</a></li>
                        <li {% ifequal request.path flagged_url %}class="selected"{% endifequal %}><a href="{{ flagged_url }}">{% trans "Flagged Posts" %}</a></li>
                        {% if settings.typepad_antispam_api_key %}
                        {% url moderation_spam as spam_url %}
                        <li {% ifequal request.path spam_url %}class="selected"{% endifequal %}><a href="{{ spam_url }}">{% trans "Spam Posts" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="content-main">
                {% block content-main %}{% endblock %}
                </div>
            </div><!-- end #content -->

        </div><!-- end #container-inner -->
    </div><!-- end #container -->

<div style="display:none">
<div id="view-dialog" title="Full Post">
    <div class="actions">
        <ul class="hfeed" id="view-detail">
        </ul>
    </div>
</div>
</div>

</body>
</html>
