{% extends "moderation/base.html" %}
{% load i18n %}
{% load date_filters %}
{% load typepad_filters %}
{% load withblock %}

{% block content-main %}
<table class="data" cellspacing="0" width="100%">
    <tr>
        <td class="item-body">
            <div class="item-actions">
                <a id="delete-{{ asset.id }}" class="action delete" href="{% url moderation_flagged %}">Delete</a>
                <a id="ban-{{ asset.id }}" class="action ban" href="{% url moderation_flagged %}">Ban User</a>
                <a id="approve-{{ asset.id }}" class="action approve" href="{% url moderation_flagged %}">Remove Flags</a>
            </div>
            <p class="item-meta"><span class="type-icon {{ asset.asset_type }}-icon"></span> <a href="{{ asset.get_user_url }}">{{ asset.user_display_name }}&rsquo;s</a> <a href="{% url asset postid=asset.asset_id %}" title="click to view full post" target="_blank">post</a>:</p>
            {% spaceless %}
            {% with asset.asset as asset %}
            {% withblock %}moderation/assets/body/{{ asset.type_id }}.html{% as template_name %}
            {% include template_name %}
            {% endwithblock %}
            {% endwith %}
            {% endspaceless %}
        </td>
    </tr>
    <tr>
        <td class="background" colspan="2">&nbsp;</td>
    </tr>
    <tr class="header">
        <td>
            {% include "motion/bits/pagination.html" %}
            Flags (<span id="asset-count">{{ page_obj.paginator.count }}</span>)
        </td>
    </tr>

    {% for flag in flags %}
    <tr class="item">
        <td>
        <p><a href="{{ flag.get_user_url }}">{{ flag.user_display_name }}</a> flagged this post {{ flag.ts|pithy_timesince:"on" }}:</p>
        <p>{{ flag.reason }}</p>
        {% if flag.note %}<p>{{ flag.note }}</p>{% endif %}
        </td>
    </tr>
    {% endfor %}

    <tr id="assets-empty" class="item" {% if flags %}style="display: none;"{% endif %}>
        <td class="info">
            {% trans "This post has no flags." %}
        </td>
    </tr>

    <tr id="assets-footer" class="footer" {% if not flags %}style="display: none;"{% endif %}>
        <td>
            {% include "motion/bits/pagination.html" %}&nbsp;
        </td>
    </tr>
</table>
{% endblock %}
