{% extends "moderation/base.html" %}
{% load i18n %}

{% block content-main %}
<table cellspacing="0">
    <tr class="header">
        <td colspan="5">
            Flagged Posts (<span id="asset-count">{{ assets.count }}</span>)
        </td>
    </tr>
    {% for asset in assets %}
    <tr id="item-{{ asset.id }}" class="item">
        <td class="item-checkbox">
            <input class="select cb" type="checkbox" value="" name="id"/>
        </td>
        <td class="item-flags"><a href="#" title="Who flagged this?">{{ asset.flag_count }} flag{{ asset.flag_count|pluralize }}</a></td>
        <td class="item-icon"><div class="type-icon {{ asset.asset_type }}-icon"></div></td>
        <td class="item-body">
            <div><a href="{{ asset.get_user_url }}">{{ asset.user_display_name }}</a> says:</div>
            {{ asset.summary }}
            <div><a href="">View full post</a></div>
        </td>
        <td class="item-actions">
            <a id="delete-{{ asset.id }}" class="action delete" href="">Delete</a>
            <a class="action ban" href="">Ban User</a>
            <a id="approve-{{ asset.id }}" class="action approve" href="">Remove Flags</a>
        </td>
    </tr>
    <tr id="loader-{{ asset.id }}" class="item" style="display: none;">
        <td class="info" colspan="4">
            <img src="/moderation{{ settings.media_url }}images/ajax-loader.gif"/>
        </td>
    </tr>
    {% endfor %}
    <tr id="assets-empty" class="item" {% if assets %}style="display: none;"{% endif %}>
        <td class="info" colspan="4">
            {% trans "There are no posts awaiting moderation." %}
        </td>
    </tr>
    <tr class="footer">
        <td class="item-checkbox">
            <input type="checkbox" />
        </td>
        <td colspan="4">
            <a class="action delete" href="">Delete</a>
            <a class="action ban" href="">Ban User</a>
            <a class="action approve" href="">Remove Flags</a>
        </td>
    </tr>
</table>
{% endblock %}