{% extends "moderation/base.html" %}
{% load i18n %}
{% load date_filters %}
{% load typepad_filters %}

{% block content-main %}

{% if page_obj.paginator.count %}
<p class="help">
    Please review the posts below. You can &ldquo;Delete&rdquo; the post which
    will remove it from your TypePad Motion site, &ldquo;Ban User&rdquo; which
    will prevent the user from being able to join your TypePad Motion
    Community, or &ldquo;Remove Flags&rdquo; which will leave the post as is.
</p>
{% endif %}

<table class="data" cellspacing="0" width="100%">
    <tr class="header">
        <td colspan="3">
            {% include "motion/bits/pagination.html" %}
            {% if assets %}<div class="sort">Sort by: <a href="{{ request.path }}?sort=latest">last flagged</a> or <a href="{{ request.path }}?sort=most">most flags</a></div>{% endif %}
            Flagged Posts (<span id="asset-count">{{ page_obj.paginator.count }}</span>)
        </td>
    </tr>

    {% for asset in assets %}
    <tr id="item-{{ asset.id }}" class="item {{ asset.status_class }}">
        <td class="item-checkbox">
            <input class="select cb" type="checkbox" value="{{ asset.id }}" name="id" /><br />
            <a href="{% url moderation_flags assetid=asset.asset_id %}" title="Click here to review the reasons why this post was flagged">{{ asset.flag_count }} flag{{ asset.flag_count|pluralize }}</a>
        </td>
        <td class="item-userpic">
            <a href="{{ asset.get_user_url }}"><img src="{{ asset.user_userpic }}" alt="{{ asset.user_display_name }}" height="50" width="50" /></a>
        </td>
        <td class="item-body">
            <div class="item-actions">
                {% if not asset.asset.source %}
                <a id="delete-{{ asset.id }}" class="action delete" href="">Delete</a>
                <a id="ban-{{ asset.id }}" class="action ban" href="">Ban User</a>
                {% endif %}
                <a id="approve-{{ asset.id }}" class="action approve" href="">Remove Flags</a>
            </div>
            <p class="item-meta"><span class="type-icon {{ asset.asset_type }}-icon"></span> <a href="{{ asset.get_user_url }}">{{ asset.user_display_name }}&rsquo;s</a> <a href="{% url asset postid=asset.asset_id %}" title="click to view full post" target="_blank">post</a> was last flagged {{ asset.last_flagged|pithy_timesince:"on" }}:</p>
            {% include "moderation/assets/asset.html" %}
        </td>
    </tr>

    <tr id="loader-{{ asset.id }}" class="item" style="display: none;">
        <td class="info" colspan="3">
            <img src="/moderation{{ settings.media_url }}images/ajax-loader.gif"/>
        </td>
    </tr>
    {% endfor %}

    <tr id="assets-empty" class="item" {% if assets %}style="display: none;"{% endif %}>
        <td class="info" colspan="3">
            {% trans "There are no flagged posts awaiting moderation." %}
        </td>
    </tr>

    <tr id="assets-footer" class="footer" {% if not assets %}style="display: none;"{% endif %}>
        <td class="item-checkbox">
            <input type="checkbox" class="check-all" />
        </td>
        <td colspan="2">
            {% include "motion/bits/pagination.html" %}
            <a class="action delete" id="delete-checked" href="{% url moderation_flagged %}">Delete</a>
            <a class="action ban" id="ban-checked" href="{% url moderation_flagged %}">Ban User</a>
            <a class="action approve" id="approve-checked" href="{% url moderation_flagged %}">Remove Flags</a>
        </td>
    </tr>
</table>

{% if page_obj.paginator.count %}
<p class="help">
    To approve or delete multiple posts at a time, select multiple posts using
    the check boxes to the left of each post and the global action buttons at
    the bottom of the page. You can also select all posts by selecting the
    check box at the bottom of the page (next to the global Delete/Ban
    User/Remove Flags buttons).
</p>
{% endif %}

{% endblock %}
