{% extends "moderation/base.html" %}

{% block content-main %}
<table cellspacing="0">
    <tr class="header">
        <td colspan="4">
            Awaiting Moderation (<span id="asset-count">{{ assets.count }}</span>)
        </td>
    </tr>
    {% for asset in assets %}
    <tr id="item-{{ asset.id }}" class="item">
        <td class="item-checkbox">
            <input class="select cb" type="checkbox" value="" name="id"/>
        </td>
        <td class="item-icon"><div class="type-icon link-icon"></div></td>
        <td class="item-body">
            <div><a href="">{{ asset.user_id }}</a> says:</div>
            {{ asset.summary }}
            <div><a href="">View full post</a></div>
        </td>
        <td class="item-actions">
            <a id="approve-{{ asset.id }}" class="action approve" href="#">Approve</a>
            <a id="delete-{{ asset.id }}" class="action delete" href="#">Delete</a>
            <a class="action ban" href="">Ban User</a>
        </td>
    </tr>
    <tr id="loader-{{ asset.id }}" class="item" style="display: none;">
        <td class="loader" colspan="4">
            <img src="/moderation{{ settings.media_url }}images/ajax-loader.gif"/>
        </td>
    </tr>
    {% endfor %}
    <tr class="footer">
        <td class="item-checkbox">
            <input type="checkbox" />
        </td>
        <td colspan="3">
            <a class="action approve" href="">Approve</a>
            <a class="action delete" href="">Delete</a>
            <a class="action ban" href="">Ban User</a>
        </td>
    </tr>
</table>
{% endblock %}