{% extends base|default:"moderation/assets/body/base.html" %}
{% load i18n %}
{% load date_filters %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block activity %}
    {% block byline %}
    {% ifequal asset.in_reply_to.type_id "audio" %}
        {% blocktrans with asset.author.display_name as name and asset.author.get_absolute_url as author_url and asset.get_absolute_url as url and asset.in_reply_to.type_label as type and asset.in_reply_to.author.display_name as author and asset.published|date_microformat as published and asset.published|pithy_timesince:"on" as timestamp %}
            <span class="vcard author"><a href="{{ author_url }}">{{ name }}</a></span> commented on an <a href="{{ url }}">{{ type }} post by {{ author }}</a> <abbr class="published" title="{{ published }}">{{ timestamp }}</abbr>.
        {% endblocktrans %}
    {% else %}
        {% blocktrans with asset.author.display_name as name and asset.author.get_absolute_url as author_url and asset.get_absolute_url as url and asset.in_reply_to.type_label as type and asset.in_reply_to.author.display_name as author and asset.published|date_microformat as published and asset.published|pithy_timesince:"on" as timestamp %}
            <span class="vcard author"><a href="{{ author_url }}">{{ name }}</a></span> commented on a <a href="{{ url }}">{{ type }} by {{ author }}</a> <abbr class="published" title="{{ published }}">{{ timestamp }}</abbr>.
        {% endblocktrans %}
    {% endifequal %}
    {% endblock %}
{% endblock %}
